
  <router-outlet></router-outlet>
  <a class="nav-link" routerLink = "/expert-validate" style="padding-top:15px;padding-left: 15px; padding-right: 15px; font-size: 1rem;">Expert Validate<span class="sr-only">(current)</span></a>
  <footer class="container">
      <p class="float-left">&copy; Knowably Ltd., Inc.</p>
      <div class="float-right">
                <i class="fab fa-youtube fa-2x"></i>
                <i class="fab fa-instagram fa-2x"></i>
                <i class="fab fa-facebook fa-2x"></i>
                <i class="fab fa-twitter fa-2x"></i>
                <p class="fonts">shibin_palace@palace.com</p>
      </div>  <div class="clearfix"></div>
    </footer>
