<a routerLink="/expert-analytics">
    <h2 id="head">Response Analytics</h2>
</a>
<div class="wrapper">
    <div id="butn">
        <a mat-raised-button color="primary" (click)="keyClick()">Load Graphs</a>
        <a mat-raised-button color="primary" routerLink="/expert-analytics">Go Back</a>
    </div>
    <mat-card>
        <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </mat-card>
    <mat-card>
        <div id="chartContainer2" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </mat-card>
    <mat-card>
        <div id="chartContainer3" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </mat-card>
</div>
